[Desktop Entry]
Name=FlatExtract
Comment=Extract archives and ISO files
Exec=FlatExtract
Icon=flat_extract
Terminal=false
Type=Application
Categories=Utility;
